@using PagedList.Mvc;
@using PagedList;
@model IPagedList<MovieShop.Entities.Movie>
@{
    ViewBag.Title = "AllMovies";
}

<h2>AllMovies</h2>
<table class="table">
    <thead>
        <tr>
            <td>Id</td>
            <td>Title</td>
            <td>Revenue</td>
            <td>Release Date</td>
        </tr>
    </thead>
    @foreach (var movie in Model)
    {
        <tr>
            <td>@movie.Id</td>
            <td>@movie.Title</td>
            <td>@movie.Revenue</td>
            <td>@movie.ReleaseDate</td>
        </tr>
    }
</table>
<div class="pagination" style="margin-left: 400px">
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
    of @Model.PageCount   @Html.PagedListPager(Model, page => Url.Action("AllMovies", new { page }))
</div>